@model IEnumerable<WebApp.Models.SpecialityViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Speciality</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Specialities" asp-action="Index" method="get">
    <p>
        NameOfDepartment: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameOfSpeciality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameOfSpeciality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
